<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Help Page</title>
  </head>
  <body>
    <h1>About Page</h1>
    <p>Smoe text here</p>

    <footer>
      <p>
      </p>
    </footer>
  </body>
</html>
